.wrapper {
    position: fixed; /* Position the element relative to the viewport */
    top: 0; /* Align the top edge of the element with the top of the viewport */
    left: 0; /* Align the left edge of the element with the left of the viewport */
    width: 100%; /* Make the width of the element 100% of the viewport width */
    height: 100%; /* Make the height of the element 100% of the viewport height */
    display: flex;
}

.sidebar {
    flex: 2; /* Take 2/10th of the available space */
    background-color: #808D8E;  /* Example background color */
    text-align: center;
    line-height: 2.0;
    color: whitesmoke; 
    font-size: 24px;
  }
  
  .main-menu {
      display: flex;
    flex: 8; /* Take the remaining 9/10th of the available space */
    background-color: #ffffff; /* Example background color */
    display: flex;
    flex-wrap: wrap; /* Allow cells to wrap to the next line */
    background-color: #766C7F;
    border: 1px solid #ccc;
  }
  
  .cell {
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Align items along the vertical axis */
    justify-content: center; /* Align items along the horizontal axis */
    width: calc(100% / 7); /* Each cell takes 1/7th of the available width */
    background-color: #947EB0; /* Example background color */
    color: white; 
    border: 1px solid #ccc; /* Add border for visual separation */
    box-sizing: border-box; /* Include border in element's total width and height */
    margin-left: 5vh;
    margin-top: 1vh;
    height: 60px;
  }

